/* @import url("https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Lato:wght@300&family=Moo+Lah+Lah&family=Roboto+Slab:wght@200&family=Roboto:wght@100&family=Rubik+Microbe&family=Rubik+Moonrocks&family=Titan+One&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Rubik+Moonrocks&display=swap');

:root {
  --clr-primary--100: #005aff;
  --clr-primary--300: #ffa500;
  --clr-primary--900: #00daff;
  --clr-accent--800: #a500ff;
  --clr-accent--900: #53d23c;
  --clr-accent--100: #ff00e6;
  --clr-neutral--100: #fff;
  --clr-neutral--300: #ffffffb7;
  --clr-neutral--500: #afadad;
  --clr-neutral--800: #122335;
  --clr-neutral--900: #000;
  --fs: 1.4rem;
  --ff-primary: "Lato", sans-serif;
  --ff-secondary: "Rubik Moonrocks", cursive;
  --br: 0.1em;
  /* Animation classes */
  --clr-primary--sky: #2dc7ff;
  --clr-primary--beach: #ff9f1c;
  --clr-secondary--beach: #ffbf69;
  --clr-primary--sea: #023e8a;
  --clr-secondary--sea: #48cae4;
  --clr-tertiary--sea: #90e0ef;
  --clr-primary--cloud: #f5fffa;
  --clr-secondary--cloud: #f0ffff;
  --clr--tertiary--cloud: #ffefd5;
  --clr--fourthly--cloud: #ffebcd;
  --clr--fifthly--cloud: #fffafa;
  --clr--sixthly-cloud: #fffff0;
  --clr-primary--grass: #80b918;
  --clr-secondary--grass: #2b9348;
  --clr-tertiary--grass: #246419;
  --clr-fourthly--grass: #047e1f;
  --clr-primary--river: #023e8a;
  --clr-secondary--river: #48cae4;
  --clr-tertiary--river: #90e0ef;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  margin-left: 0;
  padding-left: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  object-fit: contain;
}

body {
  font-size: var(--fs);
  font-family: var(--ff-primary);
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: var(--fs);
  height: 100vh;
  color: var(--clr-neutral--100);
}

/* ------ Navbar ------ */
.navbar {
  background-color: var(--clr-neutral--800);
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  height: 10vh;
  padding: 1em 1.5em;
}

/* Style the hamburger menu */
#hamburger {
  display: none;
}

/* Navbar items */
.navbar__items {
  width: 100%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: left;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.navbar__items li:not(:first-child) {
  margin-left: 2em;
}

.navbar__items li {
  display: inline-block;
  border-radius: var(--br);
  background-color: var(--clr-accent--900);
  font-size: var(--fs);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar__items li:hover {
  background-color: var(--clr-accent--100);
  color: var(--clr-neutral--100);
}

.navbar__items li a {
  color: var(--clr-neutral--800);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2vh;
  padding: 1vh 2vw;
}

/* Game mode Bar */
.game__bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--clr-accent--100);
  font-family: var(--ff-secondary);
  font-weight: 900;
  font-size: 3vh;
  position: relative;
}

.game__bar span#lives {
  color: var(--clr-accent--900);
}

.game__bar div:not(:last-child) {
  margin-right: 3vw;
}

.timer__control span {
  width: 9rem;
  display: flex;
  justify-content: start;
}

.lives__control span {
  display: flex;
}

.lives__control span i:not(:last-child) {
  margin-right: 1vw;
}

.score__control {
  padding-right: 4em;
}

.sound__control {
  color: var(--clr-accent--900);
  font-size: 5vh;
  cursor: pointer;
  position: absolute;
  right: 0.7em;
}

.sound__control:hover {
  color: var(--clr-accent--100);
}

.game__bar .pause-stop__control {
  color: var(--clr-accent--900);
  font-size: 3vh;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.game__bar .pause-stop__control i:not(:last-child) {
  margin-right: 1vw;
}

.game__bar .pause-stop__control i:hover {
  color: var(--clr-accent--100);
}


/* ----- Main ----- */
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  padding: 2vh 5vw;
  background-image: url('../images/cloud_background.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  margin: 0 auto;
  position: relative;
  height: 80vh;
  overflow: hidden;
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
}

.main__block {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image__holder {
  width: 75vh;
  max-width: 95vw;
}

.main__title {
  font-size: 5vh;
  color: var(--clr-neutral--900);
  background-color: var(--clr-accent--100);
  font-family: var(--ff-secondary);
  padding: 0.2em 1em 0.2em 1em;
  letter-spacing: 0.25em;
  border-radius: var(--br);
  text-align: center;
  text-transform: uppercase;
}

.btn__play {
  margin-top: 10vh;
  width: 6rem;
  background-color: #ffffff;
  border-radius: 50%;
  padding: 0.5em 0.5em 0.5em 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: myAnim 2s ease-in-out 0s infinite normal forwards;
}

/*------ Play btn image + Animation ------*/
@keyframes myAnim {
  0% {
    animation-timing-function: ease-out;
    transform: scale(1);
    transform-origin: center center;
  }

  10% {
    animation-timing-function: ease-in;
    transform: scale(0.91);
  }

  17% {
    animation-timing-function: ease-out;
    transform: scale(0.98);
  }

  33% {
    animation-timing-function: ease-in;
    transform: scale(0.87);
  }

  45% {
    animation-timing-function: ease-out;
    transform: scale(1);
  }
}

/* ----- Difficulty ----- */
.difficulty,
.leaders__board {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 50rem;
  margin: 0 auto;
  background-color: var(--clr-neutral--800);
  padding: 2em 1em;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 1.5rem;
}

.difficulty__btn {
  padding: 1vh 2vw;
  border-radius: var(--br);
  background-color: var(--clr-accent--900);
  color: var(--clr-neutral--800);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2vh;
  font-family: var(--ff-secondary);
}

.difficulty__btn:hover {
  background-color: var(--clr-accent--100);
  color: var(--clr-neutral--100);
}

/* ----- Carousel ----- */
.carousel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 80rem;
  display: grid;
  grid-template-columns: 0.4fr 1fr 0.4fr;
  margin: 0 auto;
}

.carousel__track {
  padding: 0;
  margin: 0;
  list-style: none;
  align-self: center;
  justify-self: center;
  max-width: 60rem;
}

.carousel__images--visible {
  max-width: 60rem;
  border-radius: 1.5rem;
  display: grid;
  grid-template-rows: 0.2fr 0.7fr;
  background-color: var(--clr-neutral--800);
  padding: 2em;
  position: relative;
  height: 60vh;
  margin: 0 auto;
}

.carousel__slide {
  width: 100%;
  max-width: 60rem;
  border-radius: 1.5rem;
  display: grid;
  grid-template-rows: 0.2fr 0.5fr;
  background-color: var(--clr-neutral--800);
  padding: 2em 1em;
  position: relative;
  height: 60vh;
}

.carousel__slide a {
  margin: 0;
  position: absolute;
  bottom: 1em;
  right: 1em;
}

.btn__play--theme {
  border: 1px solid var(--clr-neutral--800);
}

.carousel__slide--title {
  text-transform: uppercase;
  font-family: var(--ff-secondary);
  font-size: 4vh;
  font-weight: 900;
  color: var(--clr-neutral--100);
  justify-self: center;
  align-self: center;
}

.carousel__images--visible {
  display: grid;
}

.carousel__images--hidden {
  display: none;
}

.carousel__images--container {
  align-self: center;

  width: 100%;
  display: flex;

  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.carousel__images {
  height: 50vh;
}

.carousel__button {
  justify-self: center;
  align-self: center;
  background-color: var(--clr-neutral--800);
  border-radius: 50%;
  padding: 1em 1.2em;
  cursor: pointer;
  z-index: 333;
  border: none;
}

.btn-carousel {
  font-size: 3rem;
  color: var(--clr-accent--100);
}

.carousel__button--prev {
  left: 5%;
}

.carousel__button--next {
  right: 5%;
}

/* ----- Modal Pop-Up Window - Game Rules ----- */

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border-radius: 10px;
  z-index: 15;
  width: 500px;
  max-width: 80%;
  background-color: var(--clr-neutral--800);
  color: var(--clr-neutral--100);
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
  z-index: 10;
  text-align: justify;
  max-height: 90%;
  font-size: 1.4rem;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--clr-neutral--100);
  font-family: var(--ff-secondary);
  padding: 1rem;
}

.modal-header .title {
  font-size: 1.4rem;
  color: var(--clr-accent--900);
  text-shadow: 2px 2px var(--clr-neutral--800);
}

.modal-header .close-button,
.rules__close {
  cursor: pointer;
  border: none;
  background: none;
  font-size: 3vh;
  font-weight: bold;
  color: var(--clr-neutral--100);
}

.game__rules--close {
  position: absolute;
  top: -4vh;
  right: 1rem;
  font-size: 8vh !important;
}

.modal-body {
  padding: 1.5rem;
  font-family: var(--ff-primary);
}

.modal__bullet-points li::before {
  content: "\2022";
  color: var(--clr-accent--100);
  padding: 0 0.2em 0.3em 0.2em;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
  z-index: 1;
}

/* ----- Rules Section ----- */

.rules__section {
  position: absolute;
  top: 50%;
  max-width: 100rem;
  max-height: 75vh;
  background-color: var(--clr-neutral--800);
  color: var(--clr-neutral--100);
  border-radius: 20px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  padding: 1vh;
}

.rules__section--data {
  position: relative;
}

.rules__section h1,
#end-game h2 {
  font-family: var(--ff-secondary);
  font-size: 6vh;
  display: inline-block;
}

.rules__close {
  position: absolute;
  top: 0.1em;
  right: 0.3em;
  font-size: 4vh;
}

.rules__close:hover {
  color: var(--clr-accent--100);
}

.eco__facts,
.game__rules {
  margin: 0 auto;
  text-align: center;
}

.eco__facts {
  max-width: 90%;
}

.eco__facts--title,
.game__rules--title {
  font-size: 4vh !important;
  font-family: var(--ff-secondary);
}

.game__rules {
  margin-top: 4vh;
  width: 100%;
}

.eco__facts p,
.game__rules p {
  padding: 10px;
  font-size: 2.5vh;
}

.rules__bins {
  margin: 2vh 0;
  display: flex;
  flex-wrap: wrap;
  padding: 0.8em 0.5em;

}

.rules__bin {
  margin: 0 auto;
}

.rules__bin h3 {
  margin: 15px 0;
}

.rules__bin img {
  height: 15vh;
  transition: transform 0.7s ease-in-out;
}

.rules__bin img:hover {
  transform: rotate(360deg);
  cursor: pointer;
}

.rules__play--container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

#rules__play {
  position: unset;
  margin: 0;
}

.eco__facts {
  margin-top: 3vh;
}

.eco__facts p {
  width: 90%;
  margin: 0 auto;
}

.animate {
  animation-duration: 0.5s;
  animation-name: animate-fade;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
}

@keyframes animate-fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.animate.pop {
  animation-name: animate-pop;
  animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
}

@keyframes animate-pop {
  0% {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }

  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

.delay-1 {
  animation-delay: 0.6s;
}

.delay-2 {
  animation-delay: 0.7s;
}

.delay-3 {
  animation-delay: 0.8s;
}


/* ---- Game Section ---- */
/* Combo */
.combo {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0.05em 1em 0.3em 1em;
  background-color: orange;
  color: black;
  border-radius: 0.2em;
  font-family: var(--ff-secondary);
  font-size: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hide {
  display: none;
}

.combo__title {
  font-size: 1.5rem;
  font-weight: bold;
}

/* --- << Ocean Theme >> --- */
.ocean__game--section {
  width: 100vw;
  height: auto;
  z-index: 999;
  margin-bottom: -12vh !important;
}

.ocean__game--header {
  height: 10vh;
  background: url(/assets/images/waves.svg) repeat-x bottom;
  margin-bottom: -5px;
}

.ocean__background {
  background-image: linear-gradient(#48cae4, #023e8a);
  height: 60vh;
  overflow: hidden;
}

/* Ocean animation */
@keyframes ocean-swim {
  0% {
    margin-left: -235px;
  }

  70% {
    margin-left: 50vw;
  }

  100% {
    margin-left: calc(100vw - 235px);
  }
}

@-webkit-keyframes ocean-swim {
  0% {
    margin-left: -235px;
  }

  70% {
    margin-left: 50vw;
  }

  100% {
    margin-left: calc(100vw - 235px);
  }
}

/* Fish */
.fish {
  background-image: url("http://www.geertjanhendriks.nl/codepen/form/fish.png");
  width: 235px;
  height: 104px;
  margin-left: -235px;
  position: absolute;
  animation: ocean-swim 24s;
  -webkit-animation: ocean-swim 24s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
}

#fish {
  top: 45vh;
}

#fish2 {
  top: 30vh;
  animation-delay: 12s;
  -webkit-animation-delay: 12s;
}

#fish3 {
  top: 65vh;
  animation-delay: 7s;
  -webkit-animation-delay: 1s;
}

/* Stingray */
.stingray {
  background-image: url("/assets/images/stingray.svg");
  width: 200px;
  height: 91px;
  margin-left: -235px;
  position: absolute;
  animation: ocean-swim 24s;
  -webkit-animation: ocean-swim 24s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
}

#stingray {
  top: 50vh;
  animation-delay: 4s;
  -webkit-animation-delay: 5s;
}

#stingray2 {
  top: 65vh;
  animation-delay: 18s;
  -webkit-animation-delay: 18s;
}

/* Jellyfish */
.jellyfish {
  background-image: url("/assets/images/jellyfish.svg");
  width: 100px;
  height: 114px;
  margin-left: -235px;
  position: absolute;
  animation: ocean-swim 24s;
  -webkit-animation: ocean-swim 24s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
}

#jellyfish {
  top: 25vh;
  animation-delay: 2s;
  -webkit-animation-delay: 2s;
}

#jellyfish2 {
  top: 50vh;
  animation-delay: 16s;
  -webkit-animation-delay: 16s;
}

/* --- << Beach Theme >> --- */
.beach__game--section {
  height: 50vh;
  width: 100vw;
  height: auto;
  z-index: 999;
  margin-bottom: -2vh;
}

.beach__scene {
  display: grid;
  grid-template-rows: 2fr 3fr;
  width: 100vw;
  height: 80vh;
  z-index: 999;
}

.sky {
  z-index: -1;
  z-index: 999;
}

.earth {
  display: grid;
  grid-template-columns: 1fr 3fr;
  z-index: 999;
}

.beach {
  background-color: var(--clr-primary--beach);
  z-index: -1;
}

.sea {
  background-color: var(--clr-primary--sea);
  border-radius: 0 59% 56% 0;
  animation: tide 10s ease-in-out infinite;
  box-shadow: 0 0 var(--clr-primary--sea), 0 0 var(--clr-primary--sea),
    5vw 0 var(--clr-primary--sea), 10vw 0 var(--clr-secondary--sea),
    22vw 0 var(--clr-tertiary--sea), 30vw 0 var(--clr-secondary--beach);
}

@keyframes tide {
  50% {
    box-shadow: 14vw 0 var(--clr-primary--sea), 10vw 0 var(--clr-primary--sea),
      27vw 0 var(--clr-primary--sea), 28vw 0 var(--clr-secondary--sea),
      29vw 0 var(--clr-tertiary--sea), 30vw 0 var(--clr-secondary--beach);
  }
}

.cloud {
  position: absolute;
  border-radius: 80px 80px 50px 50px;
  background: var(--bg-1);
  opacity: 0;
  height: var(--cloud-height);
  width: var(--cloud-width);
  box-shadow: var(--box-shadow);
  animation: var(--cloud-dur) linear var(--cloud-delay) infinite cloudMove;
  z-index: 999;
}

@keyframes cloudMove {
  0% {
    opacity: 0;
  }

  1% {
    opacity: 1;
    transform: translate(-20vw, var(--y-offset));
  }

  100% {
    opacity: 1;
    transform: translate(110vw, var(--y-offset));
  }
}

.cloud:nth-child(1) {
  --bg-1: var(--clr-primary--cloud);
  --bg-2: var(--clr-secondary--cloud);
  --y-offset: 34px;
  --cloud-dur: 50s;
  --cloud-delay: 0s;
  --cloud-height: 70px;
  --cloud-width: 100px;
  --box-shadow: 50px 16px 0 -16px var(--bg-2), -48px 8px 0 -8px var(--bg-2),
    -86px 19px 0 -19px var(--bg-1);
}

.cloud:nth-child(2) {
  --bg-1: var(--clr--tertiary--cloud);
  --bg-2: var(--clr--fourthly--cloud);
  --y-offset: 10px;
  --cloud-dur: 60s;
  --cloud-delay: 10s;
  --cloud-height: 60px;
  --cloud-width: 100px;
  --box-shadow: 45px 6px 0 -6px var(--bg-2), -62px 12px 0 -12px var(--bg-2);
}

.cloud:nth-child(3) {
  --bg-1: var(--clr--fifthly--cloud);
  --bg-2: var(--clr--sixthly-cloud);
  --y-offset: 60px;
  --cloud-dur: 45s;
  --cloud-delay: 20s;
  --cloud-height: 70px;
  --cloud-width: 100px;
  --box-shadow: 52px 5px 0 -5px var(--bg-2), 93px 17px 0 -17px var(--bg-1),
    -55px 10px 0 -10px var(--bg-2);
}

/* --- << River Theme >> --- */
#river-game {
  width: 100vw;
  height: 80vh;
  z-index: 999;
}

.river__game--section {
  background-image: linear-gradient(var(--clr-primary--cloud), var(--clr-primary--sky), var(--clr-fifthly--cloud));
  z-index: 9999;
}


.river__game--section:after,
.river__game--section:before,
.river__game--section *,
.river__game--section *:after,
.river__game--section *:before {
  position: absolute !important;
}

.riverbank__front {
  z-index: 1;
  bottom: 0;
}

.riverbank {
  bottom: -0vh;
  left: 0;
  height: 20vmin;
  width: 97vw;
  background: linear-gradient(var(--clr-primary--grass), var(--clr-tertiary--grass));
  box-shadow: inset 0 0 20px -5px rgba(0, 0, 0, 0.2);
  border-radius: 0% 200% 0 0/0% 200%;
}



.mountain {
  border-radius: 180% 80% 0% 0%/60vmin 60vmin 0% 0%;
  width: 40vmin;
  height: 30vmin;
  bottom: 50%;
  left: -10vmin;
  background: var(--clr-fourthly--grass);
  background-image: linear-gradient(var(--clr-primary--grass), var(--clr-secondary--grass) 30%, var(--clr-neutral--800));
  box-shadow: inset -10px 0 10px -10px var(--clr-neutral--800);
}

.mountain-2 {
  left: 5vmin;
  height: 15vmin;
  width: 40vmin;
  box-shadow: inset -15px 0 10px -14px var(--clr-neutral--800);
  border-radius: 120% 50% 0% 0%/25vmin 25vmin 0% 0%;
  background-image: linear-gradient(var(--clr-primary--grass), var(--clr-secondary--grass));
}

.mountain-3 {
  border-radius: 80% 0% 0 0/100% 100% 0 0;
  right: -30vw;
  width: 10vw;
  left: 90%;
  color: var(--clr-fourthly--grass);
  background-image: linear-gradient(var(--clr-primary--grass), var(--clr-fourthly--grass));
  box-shadow: inset 15px 0 10px -10px var(--clr-neutral--800);
}

.mountain-3:after {
  content: "";
  border-radius: 60% 0 0 0/100% 0 0 0;
  background: inherit;
  width: 100%;
  height: 0;
  bottom: 0;
  right: 20%;
}

.lotus {
  width: 10vmin;
  height: 5vmin;
  background: conic-gradient(var(--clr-neutral--100) 0deg 40deg,
      var(--clr-secondary--grass) 50deg 70deg,
      var(--clr-primary--grass) 80deg);
  border-radius: 50%;
}

.lotus-1 {
  bottom: 10vmin;
  right: 5vmin;
  width: 20vmin;
}

.lotus-2 {
  bottom: 20vmin;
  right: 15vmin;
  height: 3vmin;
  transform: skew(-10deg);
  opacity: 0.5;
  mix-blend-mode: multiply;
}

.lotus-3 {
  bottom: 10vmin;
  right: 35vmin;
  transform: rotate(180deg) skew(-20deg);
  opacity: 0.8;
  width: 15vmin;
}


.river-cloud {
  width: 30vmin;
  height: 6vmin;
  background: currentcolor;
  color: var(--clr-primary--cloud);
  top: 24vmin;
  left: 20vmin;
  border-radius: 50%;
  box-shadow: 30vmin 0.5vmin 0 -1vmin currentcolor,
    -25vmin 0 0 -0.6vmin currentcolor;
  opacity: 0.3;
  transform: translate3d(-150vmin, 0, 0);
  animation: clouds 120s infinite;
  animation-delay: -10s;
}

@keyframes clouds {
  50% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(150vmin, 0, 0);
  }
}

.cloud-1 {
  left: 60vmin;
  top: 15vmin;
  opacity: 0.2;
  filter: blur(1px);
  animation-delay: 0s;
  animation-duration: 100s;
}

.river {
  top: 50%;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  background: linear-gradient(var(--clr-primary--river), var(--clr-neutral--800));
  box-shadow: inset 0 1px 4px -3px var(--clr-neutral--900);
}

.grass {
  height: 20vmin;
  width: 10vmin;
  z-index: 1000;
  border-radius: 0 60% 0 0/0 100% 0 0;
  bottom: 17vh;
  border-right: 5px solid var(--clr--tertiary--grass);
  box-shadow: 1px 0 0 var(--clr-neutral--100);
  filter: drop-shadow(-0.5vmin 6vmin 0 var(--clr-tertiary--grass)) drop-shadow(-4.5vmin 10vmin 0 var(--clr-neutral--100));
}

.grass-1 {
  left: 11vmin;
  bottom: 5vmin;
  transform: scaleX(-1);
  box-shadow: 2px 0 0 var(--clr-neutral--100);
  border-color: var(--clr-secondary--grass);
  filter: drop-shadow(-1vmin 5vmin 0 var(--clr--primary--grass)) drop-shadow(-80vmin 5vmin 0 var(--clr-tertiary--grass));
}

.grass-2 {
  right: 0;
  left: 10.5vw;
  height: 20vmin;
  bottom: 5vmin;

  transform: scaleX(-1);
  box-shadow: 2px 0 0 var(--clr-tertiary--grass);
  border-color: var(--clr-secondary--grass);
  filter: drop-shadow(-1vmin 5vmin 0 var(--clr--primary--grass)) drop-shadow(-80vmin 5vmin 0 var(--clr-tertiary--grass));
}

.reed {
  height: 40vmin;
  width: 0.5vmin;
  bottom: 10vh;
  left: 10vmin;
  color: var(--clr-secondary--grass);
  background: currentColor;
  transform-origin: bottom center;
  transform: rotate(4deg);
  box-shadow: inset -1px 0 0 var(--clr-primary--cloud), -6vmin 3vmin 0 0, 80vmin 0 0 0;
  animation: verticalise 20s infinite;
}

.reed-1 {
  color: var(--clr-primary--grass);
  left: 15vmin;
  height: 40vmin;
  bottom: 5vmin;
  transform: rotate(-2deg);
  animation: verticalise-1 20s infinite;
  box-shadow: inset -1px 0 0 var(--clr--primary--grass), 6vmin 13vmin 0 0 var(--clr--primary--grass),
    80vmin 10vmin 0 0 var(--clr-neutral--100);
}

.reed:after {
  content: "";
  width: 1.5vmin;
  height: 7vmin;
  background: currentColor;
  border-radius: 0.75vmin;
  top: 0;
  left: -0.5vmin;
  box-shadow: inherit;
}

@keyframes verticalise {

  0%,
  30% {
    transform: rotate(4deg);
  }

  50%,
  70% {
    transform: rotate(0);
  }
}

@keyframes verticalise-1 {

  0%,
  10% {
    transform: rotate(-2deg);
  }

  45%,
  70% {
    transform: rotate(0) translateY(-6vmin);
  }
}

@keyframes rise {
  100% {
    transform: translate3d(0, -100vh, 20vmin);
  }
}

@keyframes rise-reflection {
  30% {
    opacity: 0;
    transform: translate3d(0, 5vmin, 0);
  }

  100% {
    opacity: 0;
    transform: translate3d(0, 80vmin, 0);
  }
}

@keyframes fade {
  10% {
    opacity: 1;
  }

  30%,
  70% {
    opacity: 0;
  }
}

.splash {
  width: 8vmin;
  height: 3vmin;
  border: 2px solid var(--clr-fifthly--cloud);
  box-shadow: 0 0 2px var(--clr-neutral--100);
  border-radius: 50%;
  bottom: 5vmin;
  left: 70%;
  animation: splash 9s infinite;
  transform: scale(0);
}

.splash-stone {
  bottom: 15vh;
  left: -3vmin;
  height: 10vmin;
  width: 30vmin;
}

.splash-4 {
  left: auto;
  bottom: 25vmin;
  right: 20vmin;
}

@keyframes splash {

  50%,
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.delay-1 {
  animation-delay: 1s;
}

.delay-2 {
  animation-delay: 2s;
}

.delay-3 {
  animation-delay: 3s;
}

.delay-4 {
  animation-delay: 4s;
}

.delay-5 {
  animation-delay: 5s;
}

.delay-6 {
  animation-delay: 6s;
}

/* ----- End Game Window ----- */

#end-game * {
  margin: 1vh 0;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

#end-game {
  height: auto;
  max-width: 40rem;
}

#end-game ul li,
#end-game h2 {
  cursor: default;
}

#end-game input {
  padding: 1vh 2vw;
  color: var(--clr-neutral--800);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2vh;
  font-family: var(--ff-primary);
}

#end-game input,
label {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#end-game label {
  font-size: 3vh;
}

#player-score {
  height: 6vh;
  margin: auto;
  background: none;
  border-radius: 50%;
  max-width: 10rem;
  color: var(--clr-accent--100);
  background-color: var(--clr-accent--900);
  cursor: default;
}

#player-score::placeholder {
  color: var(--clr-neutral--800);
  font-weight: bold;
  font-size: 2vh;
  font-family: var(--ff-secondary);
}

#score-submit {
  cursor: pointer;
}

/* ----- Footer ----- */
.footer {
  background-color: var(--clr-neutral--800);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 100%;
  height: 10vh;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.footer__header {
  color: var(--clr-neutral--100);
  font-size: 1.4rem;
  text-transform: uppercase;
  font-family: var(--ff-secondary);
  letter-spacing: var(--spacing);
  justify-content: start;
  width: 100%;
  text-align: center;
}

.copyrights__wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  max-width: 25rem;
}

.footer__copyright {
  color: var(--clr-accent--100);
}

#footer-btn>h3 {
  font-size: 2vh;
  color: var(--clr-neutral--100);
  font-weight: 900;
}

.footer__btn {
  cursor: pointer;
  color: var(--clr-neutral-100);
  font-size: 3vh;
}

.footer__btn:hover {
  color: var(--clr-accent--100);
}

.footer__content {
  color: var(--clr-neutral--100);
  font-size: 1rem;
  letter-spacing: var(--spacing);
  background-color: var(--clr-neutral--800);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.footer__creators {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  max-width: 30rem;
  padding: 1vh;
}

.footer__creators--title {
  color: var(--clr-accent--900);
  display: flex;
  text-align: center;
}

.footer__creators--item {
  color: var(--clr-neutral--100);
  letter-spacing: var(--spacing);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 5rem;
}

.footer__creators--item:not(:first-child) {
  margin-left: 1rem;
}

.footer__creators--item a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: var(--clr-neutral--100);
  text-transform: uppercase;
}

.footer__creators p.team-name {
  padding-top: 1vh;
}

.footer__creators--item a:hover {
  color: var(--clr-accent--100);
}

.team-show {
  display: block;
  height: 100px;
  width: 100px;
  background-color: black;
}

/* ----- Footer Avatars ----- */
.footer__avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border: 2px solid var(--clr-neutral--100);
  border-radius: 50%;
  background-color: var(--clr-neutral--100);
}

/* ----- Game Garbage bins ----- */
.game__bins--section {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100vw;
  z-index: 99999999;
  bottom: 0vh;
  right: 2vw;
  position: absolute;
}

.game__bin {
  width: 100px;
  z-index: 999999;
  margin: 0 1em;
}

.game__bin img {
  width: 100%;
  z-index: 999999999;
}



/* ----- leaders__board ----- */
.leaders__board {
  min-height: 30vh;
  height: unset;
  justify-content: start;
  padding: 1em 2em 1.5em 2em;
  border: solid 2px var(--clr-accent--100);
}

.leaders__board--title {
  font-family: var(--ff-secondary);
  font-size: 3vh;
  text-transform: uppercase;
  padding-bottom: 3vh;
}

.leaders__board--content {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  grid-auto-flow: dense;
  gap: 2rem;
  text-transform: capitalize;
}

.leader__data {
  justify-self: stretch;
  align-items: center;
  font-size: 2vh;
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-bottom: solid 2px rgb(255, 0, 230, 0.3);
  padding-bottom: 5px;
  font-weight: 900;
}

#leaders-board .leader__data--score {
  color: var(--clr-accent--900);
}

/* #leader-close {
  top: 0.2em;
  right: 0.6em;
} */

#leaders-board {
  border-radius: 0.5rem;
}

/* --- Hide Class --- */
.hide {
  display: none !important;
}

/* ----- Media Query ----- */
@media all and (max-width: 80rem) {

  .navbar {
    position: relative;
    justify-content: start;
  }

  .score__control {
    padding-right: 0;
  }

  #menu-bar {
    background-color: var(--clr-neutral--800) !important;
  }

  .navbar__items {
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: center;
  }

  .navbar__items li:not(:first-child) {
    margin: 0;
    margin-top: 5vh;
  }


  .hamburger .hamburger-inner,
  .hamburger .hamburger-inner:after,
  .hamburger .hamburger-inner:before,
  .hamburger.is-active .hamburger-inner,
  .hamburger.is-active .hamburger-inner:after,
  .hamburger.is-active .hamburger-inner:before {
    background-color: var(--clr-accent--100) !important;
  }

  #hamburger {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 5em;
    height: 5em;
    outline: none;
    z-index: 999;
  }

  #menu-bar {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -100vw;
    right: 0;
    bottom: 0;
    z-index: 100;
    transition: all 0.3s ease-in-out;
  }

  #menu-bar.open {
    left: 0;
  }

  .menu-items {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .menu-items>li a {
    font-size: 2em;
  }

  .eco__facts p,
  .game__rules p {
    padding: 10px;
    font-size: 1.5rem;
  }
}

@media all and (max-width: 784px) {
  .main__title {
    font-size: 2rem;
  }

  .game__bar {
    font-size: 2rem;
  }

  .sound__control {
    font-size: 2.5rem;
  }

  .eco__facts p,
  .game__rules p {
    padding: 10px;
    font-size: 1.5rem;
  }

  .eco__facts p {
    width: 100%;
    margin: 0 auto;
  }

  .rules__bin img {
    height: 5rem;
  }

  .rules__play--container {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .carousel__images--visible {
    padding: 2em;
    position: relative;
    height: 50vh;
    margin: 0 auto;
  }

  .carousel__slide {
    border-radius: 1rem;
    grid-template-rows: 0.1fr 0.4fr;
    gap: 1rem;
    background-color: var(--clr-neutral--800);
    padding: 2em 0.5em;
  }

  .carousel__images {
    height: 30vh;
  }

  .carousel__slide a {
    bottom: 0;
    right: 0;
  }

  .leaders__board {
    padding: 1em 1.5em;
  }

  .leaders__board--content {
    gap: 1rem;
  }


}

@media all and (max-width: 650px) and (min-height: 900px) {
  .rules__bin img {
    height: 5rem;
    transition: transform 0.7s ease-in-out;
  }

  .eco__facts--title,
  .game__rules--title {
    font-size: 2rem !important;
    font-family: var(--ff-secondary);
  }

  .btn__play {
    width: 4rem;
    padding: 0.5em 0.5em 0.5em 0.8em;
  }

}

@media all and (max-width: 520px) {
  .copyrights__wrapper {
    width: 95%;
  }

  .footer__header,
  .footer__copyright {
    font-size: 1rem;
  }

  .footer__creators {
    flex-direction: column;
  }

  .footer__creators--item:not(:first-child) {
    margin-left: 0;
  }
}

@media all and (max-width: 500px) {

  .game__bar {
    font-size: 1.5rem;
  }

  .sound__control {
    font-size: 2rem;
  }

  .timer__control span {
    width: 5.5rem
  }

  .main__title {
    font-size: 1.5rem;
  }

  .eco__facts p,
  .game__rules p {
    padding: 10px;
    font-size: 0.9rem;
  }

  .rules__bin img {
    height: 4rem;
    transition: transform 0.7s ease-in-out;
  }
}

@media all and (max-height: 803px) {

  /* Media for ocean theme */
  #fish3 {
    display: none;
  }

  #stingray2 {
    display: none;
  }

  .game__rules p {
    padding: 10px;
    font-size: 1rem;
  }

  .rules__bins {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }

  .eco__facts {
    display: none;
  }

  .btn__play {
    width: 4rem;
    padding: 0.5em 0.5em 0.5em 0.8em;
  }

  .garbage-item {
    width: 60px !important;
    height: 60px !important;
  }
}